<div class="mdl-wrapper dataTables_wrapper form-inline dt-bootstrap">
  <div class="row">
    <div class="col-sm-6">
      <div class="dataTables_length mdl-clearable mdl-pag-keep">
        <label>Show <select class="mdl-pag-sizes form-control input-sm"></select> entries</label>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="pull-right">
        <div class="dataTables_filter mdl-clearable mdl-search-keep" style="display: inline-block;">
          <label>Search:<input type="search" class="mdl-search-input form-control input-sm" placeholder=""/></label>
          <button type="button" class="btn btn-primary btn-sm">Search</button>
        </div>
        <div class="btn-group mdl-clearable mdl-selcols-keep" style="margin-left: 4px; display: inline-block;">
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Cols <span class="fa fa-caret-down"></span></button>
          <ul class="mdl-selcols-select dropdown-menu dropdown-menu-right right">
            <li class="mdl-selcols-col"><a class="mdl-selcols-btn" href="javascript: void(0)">Action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 ">
      <table id="example2" class="mdl-table table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
        <thead>
        <tr role="row">
          <th rowspan="1" colspan="1"><span class="mdl-th-title"></span> <span class="mdl-clearable mdl-pag-keep mdl-selcols-closebtn fa fa-remove"></span></th>
        </tr>
        </thead>
        <tbody>
        <tr role="row">
          <td>XYZ</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th rowspan="1" colspan="1"><span class="mdl-th-title"></span> <span class="mdl-selcols-closebtn fa fa-remove"></span></th>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row mdl-clearable mdl-pag-keep">
    <div class="col-sm-5">
      <div class="dataTables_info" id="example2_info" role="status" aria-live="polite"><span class="mdl-pag-info"></span></div>
    </div>
    <div class="col-sm-7">
      <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
          <li class="mdl-pag-first paginate_button previous"><a class="mdl-pag-btn" href="#" tabindex="0">First</a></li>
          <li class="mdl-pag-prev paginate_button previous"><a class="mdl-pag-btn" href="#" tabindex="0">Prev</a></li>
          <li class="mdl-pag-n paginate_button"><a class="mdl-pag-btn" href="#" tabindex="0"></a></li>
          <li class="mdl-pag-next paginate_button next"><a class="mdl-pag-btn" href="#" tabindex="0">Next</a></li>
          <li class="mdl-pag-last paginate_button next"><a class="mdl-pag-btn" href="#" tabindex="0">Last</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>